@page "/"

<p>Welcome, User</p>
<p>My name is Pipper. I'm English Time's robot.</p>
<p>Fell free to navigate and explore in our website</p>
<br>
<p>Don't forget to keep you profile updated.</p>
<p>See ya!</p>
